{{!-- JUMBOTRON --}}
<div id="burger-jumbotron" class="jumbotron text-center">
    <h1 id="burger-title" class="display-4">Eat-the-Burger</h1>
    <p id="slogan" class="lead">The most delicious app on the web.</p>
</div>

{{!-- CONTENT --}}
<div id="content" class="container">

    <div class="row d-flex justify-content-center">

        <div class="col col-md-10">

            {{!-- BURGER FORM --}}
            <form id="burger-form">

                {{!-- LABEL --}}
                <div class="form-row">
                    <div class="col-12">
                        <label for="burger-input">Insert burger name</label>
                    </div>
                </div>

                <div class="form-row">

                    {{!-- INPUT BOX --}}
                    <div class="col-sm-8 mb-3">
                        <input type="text" class="form-control" id="burger-input" placeholder="ex. Krabby Patty">
                    </div>

                    {{!-- SUBMIT --}}
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>

            </form>


        </div>


    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-6">

            {{!-- READY TO EAT BURGERS --}}
            <div class="card my-3 bg-light">
                <div class="card-header">
                    🤤 Ready to Eat Burgers
                </div>
                {{#each burger}}
                {{#unless devoured}}
                {{> burger }}
                {{/unless}}
                {{/each}}
            </div>

        </div>

        <div class="col-md-6">

            {{!-- CONSUMED BURGERs --}}
            <div class="card my-3 bg-warning">
                <div class="card-header d-flex justify-content-between align-items-center">
                    🍽️ Consumed Burgers
                    <button type="button" id="reset-btn" class="btn btn-light">♻️ Reset</button>
                </div>
                {{#each burger}}
                {{#if devoured}}
                {{> burger-consumed}}
                {{/if}}
                {{/each}}

            </div>
        </div>
    </div>

</div>