<div class="container px-sm-10">

    <div class="jumbotron">
        <h1 class="display-4">Burger App</h1>
        <p class="lead">The most delicious app on the web.</p>
    </div>

    <div class="row">

        <div class="col col-md-6">

            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">1. Krabby Patty
                        <button type="button" class="btn btn-secondary">Secondary</button>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    {{!-- <form>
        <div class="form-group">
            <label for="burgerInput">Insert burger name</label>
            <input type="text" class="form-control" id="burgerInput" placeholder="ex. Krabby Patty">
        </div>
        <button type="submit" class="btn btn-primary">Submit Burger</button>
    </form> --}}

</div>