{{!-- JUMBOTRON --}}
<div class="jumbotron text-center">
    <h1 class="display-4">Eat-the-Burger</h1>
    <p class="lead">The most delicious app on the web.</p>
</div>

{{!-- CONTENT --}}
<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col col-md-10">

            {{!-- BURGER FORM --}}
            <form>

                {{!-- ENTRY BOX --}}
                <div class="form-row">
                    <div class="col-12">
                        <label for="burgerInput">Insert burger name</label>
                    </div>
                </div>

                {{!-- BUTTON --}}
                <div class="form-row">
                    <div class="col-sm-8 mb-3">
                        <input type="text" class="form-control" id="burgerInput" placeholder="ex. Krabby Patty">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>

            </form>

            {{!-- READY TO EAT BURGERS --}}
            <div class="card my-3 bg-light">
                <div class="card-header">
                    Ready to Eat Burgers
                </div>
                {{#each burger}}
                    {{#unless devoured}}
                        {{> burger }}
                    {{/unless}}
                {{/each}}
            </div>

            {{!-- CONSUMED BURGERs --}}
            <div class="card my-3 bg-warning">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Consumed Burgers
                    <button type="button" class="btn btn-light">♻️ Reset</button>
                </div>
                {{> burger-consumed}}

            </div>

        </div>
    </div>
</div>


{{!-- <form>
    <div class="form-group">
        <label for="burgerInput">Insert burger name</label>
        <input type="text" class="form-control" id="burgerInput" placeholder="ex. Krabby Patty">
    </div>

    <button type="submit" class="btn btn-primary">Submit Burger</button>
</form> --}}