*, body {
    background-color: #eccf99;
}

html, body {
    height: 100%;
    margin: 0;
}

/* ----- JUMBOTRON ----- */

#burger-jumbotron {
    background-image: url('../img/burger-white-background.jpeg');
    background-position: left;
    background-size: 172%;
    background-repeat: no-repeat;

}

#burger-title {
    font-family: 'Permanent Marker', cursive;
    color: #8E3B46;
    text-shadow: 
        1px 1px 0px #000000,
        1px 1px 5px #999999;
}

#slogan {
    padding: 0 29%;
}

#burger-title, #slogan {
    background-color: transparent;
}

/* ----- CONTENT ----- */

#content {
    min-height: 100%;
}

#content-inside {
    padding-bottom: 70px;
}

#reset-btn, .consume-btn {
    margin: -6px 0px;
    padding: 6px 
}

#consumed-burgers-header {
    margin: -1px 0px;
}

/* ----- TOASTS ----- */

.toast-container, .toast-x-btn {
    background-color: transparent !important;
}

.toast, .toast-header, .toast-header-title{
    background-color: white !important;
}

/* ----- FOOTER ----- */

footer {
    height: 70px;
    margin-top: -70px;
}

#made-by, #git-hub-icon {
    margin: 0 10px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
}

/* ----- MEDIA QUERIES ----- */

@media only screen and (max-width: 477px) {
    #burger-title {
        font-size: 2.7rem;
    }

    #slogan {
        font-size: 1rem;
    }
  }