*, body {
    background-color: #eccf99;
}

/* ----- JUMBOTRON ----- */

#burger-jumbotron {
    background-image: url('../img/burger-white-background.jpeg');
    background-position: left;
    background-size: 163%;
    background-repeat: no-repeat;

}

#burger-title {
    font-family: 'Permanent Marker', cursive;
    color: #8E3B46;
    text-shadow: 
        1px 1px 0px #000000,
        1px 1px 5px #999999;
}

#burger-title, #slogan {
    background-color: transparent;
}

/* ----- TOASTS ----- */
.toast-container, .toast-x-btn {
    background-color: transparent !important;
}

.toast, .toast-header, .toast-header-title{
    background-color: white !important;
}


/* ----- CONTENT ----- */

#reset-btn, .consume-btn {
    margin: -6px 0px;
}

#consumed-burgers-header {
    margin: -1px 0px;
}

/* ----- MEDIA QUERIES ----- */

/* 477 px - 2.7rem, font-size: 2.7rem*/
@media only screen and (max-width: 477px) {
    #burger-title {
        font-size: 2.7rem;
    }
  }