*, body {
    background-color: #eccf99;
}

/* ----- JUMBOTRON ----- */

#burger-jumbotron {
    background-image: url('../img/burger-white-background.jpeg');
    background-position: left;
    background-size: 163%;
    background-repeat: no-repeat;
    /* background-origin: padding-box; */
    /* background-clip: border-box; */
    /* background-attachment: scroll; */
    /* background-color: transparent; */
    /* Add the blur effect */

}

#burger-title {
    font-family: 'Permanent Marker', cursive;
    color: #8E3B46;
    text-shadow: 
        1px 1px 0px #000000,
        1px 1px 5px #999999;
}

#burger-title, #slogan {
    background-color: transparent;
}

/* ----- CONTENT ----- */

/* #content {
    background-color: #e1dd8f;
} */

/* ----- MEDIA QUERIES ----- */

/* 477 px - 2.7rem, font-size: 2.7rem*/
@media only screen and (max-width: 477px) {
    #burger-title {
        font-size: 2.7rem;
    }
  }